data/data.json
_backups
_cv
index_copy.html
.gitignore
assets/css/main_copy.css
android-icon-192x192.png
apple-icon-57x57.png
apple-icon-60x60.png
apple-icon-72x72.png
apple-icon-76x76.png
apple-icon-114x114.png
apple-icon-120x120.png
apple-icon-144x144.png
apple-icon-152x152.png
apple-icon-180x180.png
browserconfig.xml
favicon-16x16.png
favicon-32x32.png
favicon-96x96.png
favicon-256x256.png
favicon.ico
manifest.json
ms-icon-70x70.png
ms-icon-144x144.png
ms-icon-150x150.png
ms-icon-310x310.png
data/.DS_Store
.DS_Store
assets/img/profil-photo.jpeg
assets/img/profil-photo.jpeg
