@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;700&display=swap');
/* @import url(./desktop.css); */

.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 48,
    
}


/* --------------------------------------- */

:root {
    --bgc-primary: #003147;
    --bgc-secondary: rgb(173, 216, 230);
    --bgc-content: rgb(230, 230, 230, .3);
    --content-primary: #fff;
    --content-secondary: #03a9f4;
    --content-white-soft: #f8f8f8;
    --content-white-mute: #f2f2f2;
    --content-link: #abc;
    --width-desktop: 960px;
    --transition: .2s;
    --step-0: clamp(1.13rem, calc(1.08rem + 0.22vw), 1.25rem);
    --step-1: clamp(1.35rem, calc(1.28rem + 0.37vw), 1.56rem);
    --step-2: clamp(1.62rem, calc(1.50rem + 0.58vw), 1.95rem);
    --step-3: clamp(1.94rem, calc(1.77rem + 0.87vw), 2.44rem);
    --step-4: clamp(2.33rem, calc(2.08rem + 1.25vw), 3.05rem);
    --step-5: clamp(2.80rem, calc(2.45rem + 1.77vw), 3.82rem);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    color-scheme: dark;
}

body {
    font-family: 'Bai Jamjuree', sans-serif;
    text-decoration: none;
    list-style: none;
    font-size: var(--step-0);
}

/* --------------------------------------- */

.wrapper {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    height: 100vh;
    height: 100svh;
}


/* --------------- NAV MENU --------------- */

.container {
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    background-color: var(--bgc-primary);
    z-index: 3;
}

.container .nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 8vh;
    transition: var(--transition);
}

.container .nav:hover {
    color:var(--content-secondary);
}

.nav span:nth-child(1) {
    cursor: pointer;
}

/* --------------------------------------- */


/* --------------- CONTENT --------------- */

main {
    position: absolute;
    top: 10px;
    bottom: 10vh;
    left: 10px;
    right: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: scroll;
}

/* --------------------------------------- */


/* ------ CONTENT: ABOUT ME -------*/

main .text {
    letter-spacing: 1px;
    line-height: 1.6;
    padding: 0 10px;
    text-align: justify;
    font-size: var(--step-0);
}

main img {
    border: 6px solid var(--bgc-primary);
    border-radius: 10px;
    width: 100px;
    float: left;
    margin-right: 20px;
}

/* --------------------------------------- */

.content {
    margin-top: 20px;
    width: 100%;
}

/* ------ CONTENT: SKILLS------- */

ul, li {
    list-style: none;
    padding: 0;
    width: 100%;
}

li {
    margin-bottom: 20px;
}

li > span {
    font-size: var(--step-1);
    letter-spacing: 2px;
}

.percent {
    position: relative;
    width: 100%;
    height: 10px;
    background-color: #fff;
    display: block;
    margin: 5px 0 10px;
}

.skills {
    width: 90%;
}

.percent div {
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--content-secondary);
    height: 100%;
}

/* --------------------------------------- */


/* ------ CONTENT: BLOG-------*/

main>article {
    margin-bottom: 10px;
    overflow-wrap: break-word;

    letter-spacing: 2px;

}

.title {
    font-size: var(--step-1);
    line-height: 1.6rem;
    letter-spacing: 2px;
    font-weight: bold;
    text-transform: uppercase;
    background-color: var(--bgc-primary);
    padding: 4px;
}

article .date, article .post, article > .link {
    padding: 10px;
}

article .date {
    color: var(--content-secondary);
    padding: 0;
}

article .post {
    line-height: 1.6rem;
    color: var(--content-white-soft);
}

article div {
    display: flex;
    margin-top: 10px;
}

article div > span:first-child {
    margin-inline: 5px;
}


/* --------------------------------------- */

.link {
    font-size: var(--step-1);
    line-height: 1.6rem;
    letter-spacing: 1px;
    color: var(--content-secondary);
}

.link:hover {
    color: var(--content-link);
}


/* ------ CONTENT: DOWNLOAD -------*/

.download .link {
    margin: 20px 10px;
}

.download div {
    display: flex;
    align-items: center;
}

a {
    text-decoration: none;
    color: #03a9f4;
}

/* --------------------------------------- */


/* --------------- DESKTOP --------------- */

@media (min-width: 750px) {

    .wrapper {
        flex-direction: column;
    }


    /* --------------- NAV MENU --------------- */

    .container {
        top: 0;
        height: 120px;
        justify-content: center;
    }

    .container .nav {
        width: 200px;
        margin: 0 40px;
    }

    .nav > span:first-child {
        font-size: var(--step-3);
    }
    .nav > span:last-child {
        font-size: var(--step-0);
    }
    
    /* --------------------------------------- */


    /* --------------- CONTENT --------------- */

    main {
        top: 130px;
        bottom: 0;
        max-width: var(--width-desktop);
        margin: 20px auto;
    }

    /* --------------------------------------- */


    /* ------ CONTENT: ABOUT ME -------*/

    main .text {
        font-size: var(--step-0);
    }
    
    main img {
        border: 8px solid var(--bgc-primary);
        width: 200px;
    }

    /* --------------------------------------- */


    /* ------ CONTENT: SKILLS------- */

    .percent {
        height: 20px;
    }

    li > span {
        font-size: var(--step-1);
    }

    /* --------------------------------------- */

    /* ------ CONTENT: BLOG-------*/

    main>article {
        font-size: var(--step-0);
        line-height: 1.6rem;

    }

    article .title, .download .title {
        font-size: var(--step-2);
        padding: 10px;
    }



    article .date {
        color: var(--content-secondary);
        margin-top: 5px;
    }

    article .post {
        line-height: 2rem;
    }


    /* ------ CONTENT: DOWNLOAD -------*/

    .link {
        display: inline-block;
        font-size: var(--step-1);
        line-height: 1.6rem;
        transition: var(--transition);
        color: var(--content-link);
    }
    
    .link:hover {
        color: var(--content-secondary);
    }
}